<div *ngIf="selected">
  <app-cursos-detail [cursosDetail]="selectedCurso"></app-cursos-detail>
</div>
<div class="container-fluid">
  <div class="col-6">
    <table class="table table-striped">
      <caption id="certif_courses">Los cursos {{certificates}} ofrecen certificado</caption>
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Lanzamiento</th>
            <th scope="col">Duración (h)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cursos"
          style="cursor: pointer"
          (click)="onSelected(c)">
            <td>
              <dd>{{c.id}}</dd>
            </td>
            <td>
              <dd>{{c.title}}</dd>
            </td>
            <td>
              <dd>{{c.platform}}</dd>
            </td>
            <td>
              <dd>{{c.launch_year}}</dd>
            </td>
            <td>
              <dd>{{c.duration_hours}}</dd>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
